    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">What are you going to get for christmas?</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="row">
          <div class="w-100"></div>
            
        
<!-- POST FORM -->
            <%= link_to "+", {:action => "new"}, class: "add_btn", action: "new" %>
          
        </div>


<!-- LIST ALL POSTS -->
        <div class="row">
          <h3>Your list:</h3>
          <% @all_posts.each do |p| %>
          <div class="w-100">
          <div class="card">
            <div class="card-header">Probability: <%= p.rank %></div>
            <div class="card-body"> 
              <h3 class="card-text"><%= p.item %></h3>
              <p class="card-text"><%= p.description %><p>
              <a href="<%= p.link %>" target="_blank">Click here to find out where to buy!</a>
              <br />
              <br />
              <%= link_to "Edit", edit_post_url(p), class: "btn btn-outline-info" %>
              <div class="options">
                <hr/>
                <h3>What do you know about this?</h3>
                <div class="btn btn-outline-success">Someone Got it!</div>
                <div class="btn btn-outline-warning">I think someone's getting it.</div>
                <div class="btn btn-outline-secondary">I'm not sure</div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>