    <div class="header">
      <div class="container">
        <h1>Wish List</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">

<!-- POST FORM-->

  <%= link_to "Add New Post", new_post_url, class: "btn" %>

<!-- LIST ALL POSTS -->

        <ul class="comments">
          <% @posts.each do |post| %>
            <li>
              <span><%= post.item %></span>
              <span><%= post.rank %></span>
              <span><%= link_to "Update", edit_post_url(post), class: "btn" %></span>
              <span><%= link_to "Delete", post_url(post), class: "btn", method: :delete %></span>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
