<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">What are you going to get for christmas?</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <div class="row">
          <div class="w-100"></div>
            
        
<!-- POST FORM -->
            <%= link_to "+", {:action => "new"}, class: "add_btn", action: "new" %>
          
        </div>


<!-- LIST ALL POSTS -->
        <div class="row">
          <h3>Your list:</h3>
          <% @all_posts.each do |p| %>
          <div class="w-100">
          <div class="card">

<!-- PROBABILITY DISPLAY -->

            <% if p.rank >= 3 %>
            <div class="card-header">Probability: Very Likely</div>
            <% elsif p.rank >= 1 %>
            <div class="card-header">Probability: Maybe</div>
            <% else %>
            <div class="card-header">Probability: We don't know yet</div>
            <% end %>


            <div class="card-body"> 
              <h3 class="card-text"><%= p.item %></h3>
              <p class="card-text"><%= p.description %><p>
              <a href="<%= p.link %>" target="_blank">Click here to find out where to buy!</a>
              <br />
              <br />
              <%= link_to "Edit", edit_post_url(p), class: "btn btn-outline-info" %>
              <div class="options">
                <hr/>
                <h3>What do you know about this?</h3>

<!-- SOMEONE GOT IT -->

                <% if p.rank >= 3 %>
                <%= link_to "Someone Got it", post_url(p, "post[rank]" => p.rank + 3), method: "put", class: "btn btn-success", remote: "true"%>
                <% else %>
                <%= link_to "Someone Got it", post_url(p, "post[rank]" => p.rank + 3), method: "put", class: "btn btn-outline-success", remote: "true"%>
                <% end %>

<!-- SOMEONE MIGHT GET IT -->
                <% if p.rank < 3 && p.rank > 0 %>
                <%= link_to "Someone might get it", post_url(p, "post[rank]" => p.rank + 1), method: "put", class: "btn btn-warning", remote: "true"%>
                <% else %>
                <%= link_to "Someone might get it", post_url(p, "post[rank]" => p.rank + 1), method: "put", class: "btn btn-outline-warning", remote: "true"%>
                <% end %>

<!-- NO ONE KNOWS -->
                <% if p.rank == 0 %>
                <%= link_to "I'm not sure", post_url(p, "post[rank]" => p.rank + 0), method: "put", class: "btn btn-secondary", remote: "true"%>
                <% else %>
                <%= link_to "I'm not sure", post_url(p, "post[rank]" => p.rank + 0), method: "put", class: "btn btn-outline-secondary", remote: "true"%>
                <% end %>

              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>